.container:nth-child(1) {
    padding-top: 10px;
}

.card-deck .card {
    width: 40% !important;
    flex-grow: 0;
    flex-basis: auto;
    opacity: 0;
}

.show {
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 1 !important;
}

.card-deck .card .table tbody tr td:nth-child(2) {
    font-weight: 700;
}
