<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3  mx-auto text-center">
            <select class="custom-select" (change)="setRoom($event)">
                <option class="list-group-item" [value]="null">-- Select a classroom --</option>
                <option *ngFor="let room of rooms" [value]="room.room_code">{{ room.room_code }} - {{ room.location }}</option>
            </select>

            <ul class="list-group list-group-flush mx-auto mt-4" *ngIf="currentReadings != null">
                <li class="list-group-item">Temperature is <b>{{ currentReadings.temperature }}&deg;C</b></li>
				<li class="list-group-item">Humidity is <b>{{ currentReadings.humidity }}%</b></li>
				<li class="list-group-item">Sound level is <b>{{ currentReadings.sound }}%</b></li>
				<li class="list-group-item">Light level is <b>{{ currentReadings.light }}%</b></li>
            </ul>
        </div>
    </div>
</div>
