.container:nth-child(1) {
    padding-top: 10px;
}

.card-deck .card {
    width: 40% !important;
    flex-grow: 0;
    flex-basis: auto;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.card-deck .card .table tbody tr td:nth-child(2) {
    font-weight: 700;
}
