.container:nth-child(1) {
    padding-top: 10px;
}

.card-deck .card {
    width: 40% !important;
    flex-grow: 0;
    flex-basis: auto;
}

.card-deck .card .table tbody tr td:nth-child(2) {
    font-weight: 700;
}
