.container:nth-child(1) {
    padding-top: 10px;
}

table, th, td {
    border: 1px solid black;
}

.rooster {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

.rooster td {
    min-width: 120px;
}

.roosterWeek {
    background-color: #BD012F;
    color: white;
}

.table {
    font-size: 11px;
}
