<div class="col-sm-12 col-md-10 offset-md-1 mx-auto">

    <div class="form-horizontal">
        <div class="form-row">
            <div class="col-sm-12 col-md-12">
                <table class="table" *ngIf="reservation != null">
                    <thead>
                        <tr>
                            <th class="w-18">Date</th>
                            <th class="w-16">From</th>
                            <th class="w-16">Till</th>
                            <th class="w-45">Description</th>
                            <th class="w-5"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="date" class="form-control" [(ngModel)]="date">
                            </td>
                            <td>
                                <input class="form-control" type="time" [(ngModel)]="reservation.begin" step="600" min="08:00" max="22:00" />
                            </td>
                            <td>
                                <input class="form-control" type="time" [(ngModel)]="reservation.end" step="600" min="08:00" max="22:00" />
                            </td>
                            <td>
                                <input class="form-control" [(ngModel)]="reservation.description" />
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button type="button" class="btn btn-primary float-right my-4" (click)="submitForm()">Save</button>

    </div>
</div>
