<a class="return" [routerLink]="['/reservations']" title="Return to previous page">
    <i class="fa fa-arrow-left"></i>
</a>

<div class="col-sm-12 col-md-10 offset-md-1 mx-auto">
    <h3 class="my-4 text-center">Edit Reservation</h3>

    <form class="form-horizontal mt-4" *ngIf="reservation != null" #reservationForm="ngForm">
        <div class="form-row">
            <div class="col-sm-12 col-md-12">
                <table class="table" *ngIf="reservation != null">
                    <thead>
                        <tr>
                            <th class="w-18">Date</th>
                            <th class="w-16">From</th>
                            <th class="w-16">Till</th>
                            <th class="w-45">Description</th>
                            <th class="w-5"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="date" class="form-control" name="date" [min]="minDate" [max]="maxDate" [(ngModel)]="reservation.date" required #dateModel />
                            </td>
                            <td>
                                <input class="form-control" type="time" name="begin" [(ngModel)]="reservation.begin" step="600" min="08:00:00" max="22:00:00" required #beginModel />
                                <div class="text-danger font-weight-bold" [hidden]="(beginModel.value.split(':')[0] - 0 > 7 && beginModel.value.split(':')[0] - 0 < 23) || reservationForm.controls['begin']?.touched == false">
                                    Time must be between 08:00 and 22:00
                                </div>
                            </td>
                            <td>
                                <input class="form-control" type="time" name="end" [(ngModel)]="reservation.end" step="600" min="08:00:00" max="22:00:00" required #endModel />
                                <div class="text-danger font-weight-bold" [hidden]="(endModel.value.split(':')[0] - 0 > 7 && endModel.value.split(':')[0] - 0 < 23) || reservationForm.controls['end']?.touched == false">
                                    Time must be between 08:00 and 22:00
                                </div>
                            </td>
                            <td>
                                <input class="form-control" name="desc" [(ngModel)]="reservation.description" />
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button type="button" [disabled]="!reservationForm.form.valid" class="btn btn-primary float-right my-4" (click)="submitForm()">Save</button>
    </form>
</div>
