<div class="col-sm-12 col-md-10 offset-md-1 mx-auto">
    <div class="ReservationsContent">
        <h2>Your reservations</h2>

        <table class="table">
            <thead class="TableHeader">
                <tr>
                    <th>Timeslot</th>
                    <th>Room</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="reservations != null">
                <tr *ngFor="let reservation of reservations">
                    <td>
                        <b>{{ reservation.start_time | date: 'EEEE dd MMM' }}</b>
                        <br />
                        {{ reservation.start_time | date: 'HH:mm' }} - {{ reservation.end_time | date: 'HH:mm' }}
                    </td>
                    <td>{{ reservation.room_code }}</td>
                    <td>{{ reservation.description }}</td>
                    <td>
                        <a [routerLink]="['edit', reservation.reservation_id]">Edit</a>
                    </td>
                    <td>
                        <button type="button" (click)="deleteReservation(reservation.reservation_id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a [routerLink]="['add']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
       class="btn btn-primary mt-4">Create Reservation</a>
</div>
