<div class="ReservationsContent">
    <h2>Your reservations</h2>
    <table>
        <tr class="TableHeader">
            <th><p>Timeslot</p></th>
            <th><p>Room</p></th>
            <th><p>Description</p></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td><p><b>Monday 11-3-2018</b><br>11:20 - 12:10</p></td>
            <td><p>WD.4.010</p></td>
            <td><p>Studytime</p></td>
            <td>edit</td>
            <td>delete</td>
        </tr>
        <tr>
            <td><p><b>Monday 18-3-2018</b><br>12:10 - 13:00</p></td>
            <td><p>H.4.312</p></td>
            <td><p>Group meeting</p></td>
            <td>edit</td>
            <td>delete</td>
        </tr>
    </table>
</div>
