<div class="container">
<h4> {{room}}</h4>

<p>
   To assign a device to this room for temperature measurement etc., copy the Python code in the existing Raspberry Pi's to
    the new Raspberry, configure the 'room_code' in the POST requests <a href="https://github.com/ICTLab-TheRetakers/Hardware"> (GitHub repo)  </a>, and safely place the device in this room.
    Then you will automatically see the measurements in the previous screen.
</p>
    <hr>
    <button class="btn btn-primary mt-4" [routerLink]="['/readings']" routerLinkActive="active">Back</button>


</div>
