<div class="container">
<h4> {{room}}</h4>


    A new device has <p style="display:inline" *ngIf="!hasDevice"> already </p> been assigned to this room.Copy the Python code in the existing Raspberry Pi's to
    the new Raspberry, set the 'device_id' in the POST requests to {{deviceid}} <a href="https://github.com/ICTLab-TheRetakers/Raspberry-pi"> (GitHub repo)  </a>, and safely place the device in this room.
    Then you will automatically see the measurements in the previous screen.

    <hr>
    <button class="btn btn-primary mt-4" [routerLink]="['/readings']" routerLinkActive="active">Back</button>


</div>
