<a href="#" class="return" [routerLink]="['/issues']" title="Return to previous page">
    <i class="fa fa-arrow-left"></i>
</a>

<div class="col-sm-12 col-md-10 offset-md-1 mx-auto">
    <h3 class="my-4 text-center">Edit Issue</h3>

    <form class="form-horizontal mt-4" #issueForm="ngForm" *ngIf="issue != null">
        <div class="form-row">
            <div class="col-sm-12 col-md-8 offset-md-2">
                <label for="issue">Describe the problems you are having</label>
                <textarea name="desc" class="form-control" rows="5" [(ngModel)]="issue.description" required #descriptionModel></textarea>

                <div class="text-danger font-weight-bold" [hidden]="descriptionModel.value.length > 0 || issueForm.controls['desc']?.touched == false">
                    Description cannot be empty!
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-12 col-md-10 offset-md-1 mx-auto">
                <a *ngIf="issue.resolved == true" class="resolve-link" (click)="unResolveIssue(issue.issue_id)" title="Mark as unresolved">
                    <i class="fa fa-check"></i> Mark as unresolved
                </a>
            </div>

        </div>
        <button type="button" [disabled]="!issueForm.form.valid" class="btn btn-primary float-right my-4" (click)="submitForm()">Submit</button>
    </form>
</div>
