<div class="col-sm-12 col-md-10 offset-md-1 mx-auto">
    <h2>Users</h2>

    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngIf="pagedResult != null">
            <tr *ngFor="let user of pagedResult.data">
                <td>
                    {{ user.user_id }} - {{ user.first_name }} {{ user.last_name }}
                </td>
                <td>{{ user.email }}</td>
                <td>
                    <a [routerLink]="['edit', user.user_id]">Edit</a>
                </td>
                <td>
                    <button type="button" (click)="deleteUser(user.user_id)">Delete</button>
                </td>
            </tr>
            <tr class="pt-4"></tr>
            <tr class="pt-4">
                <td>
                    <button [disabled]="pagedResult.current_page == 1" class="btn btn-primary" (click)="getPage(pagedResult.current_page - 1)">Prev</button>
                </td>
                <td></td>
                <td></td>
                <td>
                    <button [disabled]="pagedResult.current_page == pagedResult.total_pages" class="btn btn-primary" (click)="getPage(pagedResult.current_page + 1)">Next</button>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="#" [routerLink]="['add']" class="btn btn-primary btn-sm mt-3" title="Add user">
        <i class="fa fa-plus"></i>
    </a>
</div>
