.room-info {
    width: 12vw;
    color: #fff;
    background: transparent !important;
    padding: 0 !important;
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateY(-25%);
}

.room-info li {
    background: transparent !important;
    font-size: 20px;
}

.room-info li i {
    font-size: 26px;
    margin-right: 10px;
}
