<div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">
        <h3 class="text-center">Departments</h3>

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let department of departments">
                <a [routerLink]="['details', department.department_code]">
                    {{department.name}}
                </a>
                <span class="list-icons">
                    <button class="btn-edit" [routerLink]="['edit', department.department_code]" title="Edit">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn-delete" type="button" (click)="deleteDepartment(department.department_code)" title="Remove">
                        <i class="fa fa-trash"></i>
                    </button>
                </span>
            </li>
        </ul>

        <a href="#" [routerLink]="['add']" class="btn btn-primary btn-sm mt-3" title="Add department">
            <i class="fa fa-plus"></i>
        </a>

    </div>
</div>
