<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Hogeschool Rotterdam</a>
    <div class="ml-auto">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav" [hidden]="!isLoggedIn">
                <li class="nav-item">
                    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/readings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="nav-link">INFORMATION</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/reservations']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="nav-link">RESERVATIONS</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="nav-link">PROFIEL</a>
                </li>
				<li class="nav-item">
					<a class="nav-link" style="cursor: pointer;" (click)="signOut()">SIGN OUT</a>
				</li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
	<div class="row">

        <div class="col-sm-12 col-md-12">

            <nav class="bg-faded sidebar">
                <h4>Alerts</h4>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        Your reservation for room H.4.212 has been canceled
                    </li>
                    <li class="nav-item">
                        Reminder: Scheduled room WD.4.002 for today 14:30
                    </li>
                    <li class="nav-item">
                        Some more text about reservations and stuff
                    </li>
                </ul>
                <ul class="nav nav-pills flex-column nav-bottom">
                    <li class="nav-item">
                        <div class="qrComp">
                            <qrcode class="mx-auto" [qrdata]="'I knew you could not resist'" [size]="200" [level]="'M'"></qrcode>
                        </div>
                    </li>
                </ul>
            </nav>

			<main class="main">
				<router-outlet (activate)="checkIfLoggedIn()"></router-outlet>
				<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
			</main>
        </div>

	</div>
</div>

