<nav class="navbar navbar-expand-lg navbar-dark" [ngClass]="{'navbarAdmin': user?.role_id == 1}">
    <a class="navbar-brand" href="#">Hogeschool Rotterdam</a>
    <div class="ml-auto" *ngIf="user != null">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="nav-link">Home</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a [routerLink]="['/readings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="nav-link">Room-information</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" [hidden]="user.role_id == 2 || user.role_id == 3">
                    <a [routerLink]="['/issues']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="nav-link">Issues</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a [routerLink]="['/reservations']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="nav-link">Reservations</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" [hidden]="user.role_id == 2 || user.role_id == 3">
                    <a [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="nav-link">Users</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a [routerLink]="['/users/details/', user.user_id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                       class="nav-link profile" title="{{user.first_name}} {{user.last_name}}">
                        <img class="profile-thumbnail d-none d-sm-none d-md-none d-lg-block" [src]="sanitizer.bypassSecurityTrustUrl(user.picture)" /> <span class="d-block d-sm-block d-md-block d-lg-none">Profile</span>
                    </a>
                </li>
                <li data-toggle="collapse" class="nav-item">
                    <a class="nav-link sign-out" (click)="signOut()" title="Sign out">
                        <i class="fa fa-sign-out d-none d-sm-none d-md-block"></i> <span class="d-block d-sm-block d-md-none d-lg-none">Sign out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<aside class="bg-faded sidebar" [ngClass]="{'sidebarAdmin': user?.role_id == 1}">
    <app-notification *ngIf="this.isLoggedIn"></app-notification>
    <ul class="nav nav-pills flex-column nav-bottom">
        <li class="nav-item">
            <div class="qrComp" *ngIf="this.isDashboard">
                <qrcode class="mx-auto" [qrdata]="dashboardQR" [size]="150" [level]="'M'"></qrcode>
            </div>
        </li>
    </ul>
</aside>

<main>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <router-outlet (activate)="checkIfLoggedIn()"></router-outlet>
            <ng2-toasty [position]="'bottom-right'"></ng2-toasty>
        </div>
    </div>
</main>
