<nav class="navbar navbar-dark bg-primary fixed-top flex-row-reverse ">
    <a class="navbar-brand" href="#">HINT Dashboard</a>
</nav>

<div class="container">
    <div class="row">

        <!-- Main content -->
        <main>
            <router-outlet></router-outlet>
        </main>

        <!-- Footer -->
        <footer class="footer bg-primary">
            <div class="container text-center">
                <span class="text-white"></span>
            </div>
        </footer>

    </div>
    <!-- End of row -->
</div>
<!-- End of container -->
