/* NAVBAR -> changes to the bootstrap navbar */

.redNav {
    background-color: #BD012F;
    min-height: 10vh;
    max-height: 10vh;
}

.redNav .navbar-brand {
    font-weight: 700;
}

.redNav a {
    color: white !important;
    font-size: 25px;
    padding: 25px 20px;
}

.redNav .active {
    text-decoration: underline;
    text-decoration-style:solid;
}

@media (max-width: 767.98px) {
    .redNav a {
        color: white !important;
        font-size: 15px;
        padding: 15px 10px;
    }
}

/* SIDEBAR */
#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 90vh;
    background-color: #BD012F;
    color: #fff;
    transition: all 0.3s;
    float: left;
    text-align: center;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    padding: 20px;
    border-bottom: 2px solid white;
}

#sidebar ul.components {
    padding: 10px 0;
    border-top: 2px solid white;
}

#sidebar ul p {
    color: #fff;
    padding-bottom: 15px;
    width:100%;
    border-bottom: 2px solid white;
}

#sidebar ul h3 {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* SIDEBAR -> ALERTS-COMPONENT */
#sidebar .alertComp {
    padding-top: 10vh;
    font-weight: 700;
}

/* SIDEBAR -> QR-CODE-COMPONENT*/
#sidebar .qrComp {
    vertical-align: bottom;
    max-width:250px;
    padding: 25px;
}

.qrImg {
    padding-left: 50px;
}

qrcode img {
    display: inherit !important;
}


/* TO DO: RESPONSIVE SIDEMENU */
