<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3 text-center">
            <input class="form-control mb-1" type="text" [(ngModel)]="location" placeholder="Please enter a location" />

            <select class="custom-select" (change)="setRoom($event)">
                <option class="list-group-item" [value]="null">-- Select a classroom --</option>
                <option *ngFor="let room of findRoomsByLocation()" [value]="room.room_code">{{ room.room_code }} - {{ room.location }}</option>
            </select>

            <ul class="list-group list-group-flush mx-auto mt-4" *ngIf="selectedRoom != null">
                <li class="list-group-item"><b>Smartboard present:</b> {{ selectedRoom.has_smartboard ? 'yes' : 'no' }}</li>
                <li class="list-group-item"><b>Computer present:</b> {{ selectedRoom.has_computer ? 'yes' : 'no' }}</li>
                <li class="list-group-item"><b>Classroom has windows:</b> {{ selectedRoom.has_windows ? 'yes' : 'no' }}</li>
                <li class="list-group-item"><b>Student capacity is</b> {{ selectedRoom.student_capacity }} students</li>
            </ul>
        </div>
    </div>
</div>
