<div class="col-sm-12 col-md-10 offset-md-1 mx-auto">
    <div>
        <h2>Rooms</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Room Code</th>
                    <th>Capaciteit</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let room of rooms">
                    <td>
                        <b>{{ room.room_code }}</b>
                    </td>
                    <td>{{ room.student_capacity }}</td>
                    <td>
                        <a [routerLink]="['edit', room.room_code]">Edit</a>
                    </td>
                    <td>
                        <button type="button" (click)="deleteRoom(room.room_code)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
