<a class="return my-3" [routerLink]="['/login']" title="Return to sign in">
    <i class="fa fa-arrow-left"></i>
</a>

<div class="col-sm-12 col-md-10 offset-md-1">
    <h3 class="my-4 text-center">Reset Password</h3>

    <form class="form-horizontal mt-4" #resetForm="ngForm">
        <div class="form-row mb-2">
            <div class="col-sm-12 col-md-8 offset-md-2 my-3">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailModel="ngModel" required>

                <!-- Email errors -->
                <div *ngIf="emailModel.errors && (emailModel.dirty || emailModel.touched)">
                    <div [hidden]="!emailModel.errors.required" class="text-danger font-weight-bold">
                        E-mail address is required!
                    </div>
                    <div [hidden]="!emailModel.errors.pattern" class="text-danger font-weight-bold">
                        E-mail address is not valid!
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 offset-md-2 mt-4 text-center">
                <button type="button" [disabled]="!resetForm.form.valid" class="btn btn-primary mb-4 mx-auto" (click)="resetPassword()">Reset</button>
            </div>
        </div>
    </form>
</div>
