/* You can add global styles to this file, and also import other style files */

/*Overrides bootstrap/scss to make component fit the screen.*/
@media (min-width: 1200px) {
    .container /*TO DO: see if we can change or give an ID to the container to avoid errors*/
    { 
        max-width: 100%;
        padding-left: 300px; /*TO DO: make sure this is the same value as the width of the sidebar*/
    }
}

.return {
    position: absolute;
    top: 0;
    left: 5%;
}

.return i {
    font-size: 24px;
}

/* NG2 Toasty */
#toasty .toast.toasty-theme-bootstrap .toast-text .toast-title {
    font-size: 16px;
}

#toasty .toast.toasty-theme-bootstrap .toast-text .toast-msg {
    font-size: 13px;
    line-height: 2.3px;
}
