<div class="col-sm-12 col-md-10 offset-md-1 mx-auto">
    <app-select-room [onlyAllowRooms]="true" [getSchedule]="false" (chosenObject)="getRoomChoice($event)"></app-select-room>

    <div class="form-horizontal">
        <div class="form-row">
            <div class="col-sm-6 col-md-4">
                <label for="start">From</label>
                <input id="start" type="date" class="form-control" [(ngModel)]="start_date">
            </div>
            <div class="col-sm-6 col-md-4">
                <label>&nbsp;</label>
                <select class="custom-select" [(ngModel)]="start_time">
                    <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-6 col-md-4">
                <label for="till">Till</label>
                <input id="till" type="date" class="form-control" [(ngModel)]="end_date">
            </div>
            <div class="col-sm-6 col-md-4">
                <label>&nbsp;</label>
                <select class="custom-select" [(ngModel)]="end_time">
                    <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
                </select>
            </div>
        </div>

        <button type="button" class="btn btn-primary float-right my-4" (click)="submitForm()">Add Reservation</button>

    </div>
</div>
