<div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1 mx-auto">
        <form class="form-horizontal" #reservationForm="ngForm">
            <app-select-room [onlyAllowRooms]="true" [getSchedule]="false" (chosenObject)="getRoomChoice($event)"></app-select-room>

            <div class="form-row">
                <div class="col-sm-12 col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w-18">Date</th>
                                <th class="w-16">From</th>
                                <th class="w-16">Till</th>
                                <th class="w-45">Description</th>
                                <th class="w-5"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reservation of reservations;let i = index;">
                                <td>
                                    <input type="date" class="form-control" name="date" [(ngModel)]="reservation.date" required #dateModel />
                                </td>
                                <td>
                                    <input class="form-control" type="time" name="begin" [(ngModel)]="reservation.begin" step="600" min="08:00:00" max="22:00:00" required #beginModel />
                                    <div class="alert alert-danger" [hidden]="(beginModel.value.split(':')[0] - 0 > 7 && beginModel.value.split(':')[0] - 0 < 23) || reservationForm.controls['begin']?.touched == false">
                                        Time must be between 08:00 and 22:00
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" type="time" name="end" [(ngModel)]="reservation.end" step="600" min="08:00:00" max="22:00:00" required #endModel />
                                    <div class="alert alert-danger" [hidden]="(endModel.value.split(':')[0] - 0 > 7 && endModel.value.split(':')[0] - 0 < 23) || reservationForm.controls['end']?.touched == false">
                                        Time must be between 08:00 and 22:00
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" name="desc" [(ngModel)]="reservation.description" />
                                </td>
                                <td [hidden]="i < 1">
                                    <button type="button" class="btn btn-danger" (click)="removeRow(i)">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button [hidden]="currentUser.role == 'Student'" type="button" class="btn btn-primary" (click)="addRow()">+</button>
                </div>
            </div>

            <button type="button" [disabled]="!reservationForm.form.valid" class="btn btn-primary float-right my-4" (click)="submitForm()">Add Reservation</button>
        </form>
    </div>
</div>
